/* 页面样式 */
/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
body{
    width: 100%;
}
.employer-page{
    min-height: 100vh;
    min-width: 1000px;
    display: flex;
    flex-direction: column;
}
/* 页面头部样式 */
/* .page-header{
    width: 100%;
    background: #3A3B44;
    position: fixed;
    z-index: 1000;
}
.container-1000{
    width: 1000px;
    margin: 0 auto;
}
.page-header-content{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-header-logo{
    width: 130px;
    height: 41px;
    border: 1px dashed #FFFFFF;
}
.page-header-nav{
    padding: 30px 243px 30px 47px;
    display: inline-block;
    font-size: 0;
    white-space: nowrap;
}
a{
    text-decoration: none;
}
.header-nav-item{
    height: 15px;
    font-size: 15px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 15px;
    margin-right: 50px;
}
.header-nav-item:hover{
    color: #58A673;
}
.header-nav-item:last-child{
    margin-right: 0px;
}
.page-header-button{
    width: 220px;
    padding: 20px 0px 19px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    cursor: pointer;
    border: none;
}
.header-button-expert{
    width: 100px;
    height: 36px;
    font-size: 15px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #58A673;
    background: rgba(28, 163, 143, 0);
    border: 1px solid #58A673;
    border-radius: 4px;
    line-height: 31px;
}
.header-button-employer{
    width: 100px;
    height: 36px;
    font-size: 15px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    background: #58A673;
    border: 1px solid #58A673;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(30, 31, 40, 0.3);
    line-height: 31px;
} */























































/* 页面脚部样式 */
/* .page-footer{
    height: 322px;
    background: #1D1A33;
}
.footer-section{
    display: flex;
    align-items: flex-start;
}
.logo-container{
    margin: 73px 163px 0px 20px;
}
.footer-logo{
    width: 130px;
    height: 50px;
    border: 1px dashed #FFFFFF;
    cursor: pointer;
}
.about-container{
    margin: 82px 97px 0px 0px;
}
.footer-about-title{
    height: 16px;
    font-size: 15px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #8A8B91;
    line-height: 16px;
    position: relative;
}
.footer-about-title::after{
    content: "";
    width: 33px;
    height: 4px;
    background: #2B2744;
    position: absolute;
    margin-top: 33px;
    margin-left: -80px;
}
.font-14px{
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
}
.footer-about-content{
    width: 224px;
    height: 78px;
    line-height: 28px;
    margin-top: 33px;
}
.nav-container{
    margin: 82px 98px 0px 0px;
}
.footer-nav-title{
    height: 15px;
    font-size: 15px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #8A8B91;
    line-height: 15px;
    position: relative;
}
.footer-nav-title::after{
    content: "";
    width: 14px;
    height: 4px;
    background: #2B2744;
    position: absolute;
    margin-top: 33px;
    margin-left: -29px;
}
.footer-nav-list{
    margin-top: 41px;
    margin-left: 1px;
}
.footer-nav-item{
    line-height: 14px;
    margin-bottom: 14px;
    cursor: pointer;
}
.footer-nav-item:hover{
    color: #58A673;
}
.contact-container{
    margin-top: 82px;
}
.footer-contact-title{
    height: 15px;
    font-size: 15px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #8A8B91;
    line-height: 15px;
    position: relative;
}
.footer-contact-title::after{
    content: "";
    width: 33px;
    height: 4px;
    background: #2B2744;
    position: absolute;
    margin-top: 33px;
    margin-left: -58px;
}
.footer-contact-list{
    margin-top: 41px;
    margin-left: 1px;
}
.footer-contact-item{
    line-height: 14px;
    margin-bottom: 14px;
} */